
body, div, ul, li, button, span {
	margin: 0;
	padding: 0;	
}
body {
	color: #333;
	font: 900 24px/1 'Arial Black', 'Helvetica', sans-serif;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	height: 100dvh;
    width: 100vw;
    overflow: hidden;
}
body > div {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100vw;
	position: relative;
	height: 100dvh;
	box-sizing: border-box;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	z-index: 1; 
    background-color: #1e1e1e;
}
button {
	outline: none;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 13px 25px;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(110, 80, 20, 0.4),
                inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
                inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    background-image: linear-gradient(160deg,  #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07;
    color: rgb(120, 50, 5);
    text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.buttons {
	position: absolute;
	bottom: 0dvh;
	width: calc(100vw - 20px);
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
    z-index: 50;
    display: flex;
    margin: 0 10px;
}
ul {
    margin: 0;
    padding: 0;
	list-style: none;
	position: relative;
	width: 100vw;
	height: 100dvh;
	display: flex;
	-webkit-transform: rotateY(0deg);
	-webkit-backface-visibility: visible;
	-webkit-transform-style: preserve-3d;
	transform: rotateY(0deg);
	backface-visibility: visible;
	transform-style: preserve-3d;
	z-index: 1;
 
}
li {
	--rotate: 0deg;
	--fanrotate: 0deg;
	--delay: 0s;
	--zdistance: 0;
	position: absolute;
	top: 25dvh;
	left: calc( 50vw - 15.5vw );
	width: 31vw;
	height: 50vw;
    border-radius: 0.6vw;
	z-index: initial;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: visible;
	-webkit-perspective: 1000px;
	-webkit-transform-origin: center bottom;
	-webkit-transition: all 0.6s ease-in-out;
	transform-style: preserve-3d;
	backface-visibility: visible;
	perspective: 1000px;
	transform-origin: center bottom;
	transition: all 0.6s ease-in-out;
}
li span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 31vw;
	height: 50vw;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover!important;
	-webkit-perspective: 0;
	-webkit-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
	-webkit-transform-origin: center center;
	-webkit-transition: all 1s ease-in-out;
	backface-visibility: hidden;
	transform-origin: center center;
	transition: all 1s ease-in-out;
	visibility: visible;
	backface-visibility: hidden;
}
.front {
	position: relative;	
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background-size: cover;
}
li[data-src='bob'] .front {
	background: #FFF url("BOB_front.png") center center no-repeat;
}
li[data-src='nash']  .front {
	background: #FFF url("NASH_front.png") center center no-repeat;
}
li[data-src='dan'] .front  {
	background: #FFF url("DANNY_front.png") center center no-repeat;
}
li[data-src='ben'] .front  {
	background: #FFF url("BEN_front.png") center center no-repeat;
}
li[data-src='g'] .front  {
	background: #FFF url("G_front.png") center center no-repeat;
}
li[data-src='con'] .front  {
	background: #FFF url("CON_front.png") center center no-repeat;
}
li[data-src='fod'] .front  {
	background: #FFF url("FOTIS_front.png") center center no-repeat;
}
li[data-src='ste'] .front  {
	background: #FFF url("STE_front.png") center center no-repeat;
}
li[data-src='ian'] .front  {
	background: #FFF url("IAN_front.png") center center no-repeat;
}
li[data-src='earl'] .front  {
	background: #FFF url("EARL_front.png") center center no-repeat;
}
li[data-src='dave'] .front  {
	background: #FFF url("DAVE_front.png") center center no-repeat;
}
li[data-src='liam'] .front  {
	background: #FFF url("LIAM_front.png") center center no-repeat;
}
.back {
	background: #000 url("card_back.png") center center no-repeat;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@keyframes shuffle {
	0% { transform: rotateZ(0deg) translate3d(0,0,0); z-index: initial; }
	50% { transform: rotateZ(12deg) translate3d(-50vw,0,0); z-index: initial; }
	51% { transform: rotateZ(12deg) translate3d(-50vw,0,0); z-index: var(--stylezindex); }
	100% { transform: rotateZ(0deg) translate3d(0,0,0); z-index: var(--stylezindex); }
}
@keyframes revealAllBounce {    
	0% { transform: rotateZ(0) rotateY(0) }
	25% { transform: rotateZ(var(--rotate)) rotateY(179deg) }
    75% { transform: rotateZ(var(--rotate)) rotateY(179deg) }
    100% { transform: rotateZ(0) rotateY(0) }
}

@keyframes fanPick {
    0% { transform: rotateZ(0) }
    100% { transform: rotateZ(var(--rotate)) }
}

@keyframes fanPickReveal {
    0% { transform: rotateZ(var(--rotate)) rotateY(0deg);}
    100% { transform: rotateZ(var(--rotate)) rotateY(179deg); }
}

@keyframes reveal {
    0% { transform: rotateZ(var(--rotate)) rotateY(0deg) translate3d(0,0,0); z-index: 0; }
	25% { transform: rotateZ(0deg) rotateY(0deg) translate3d(0,60vw,0); z-index: 0; }
	50% { transform: rotateZ(0deg) rotateY(0deg) translate3d(0,60vw,70vw); z-index: 100;  }
	70% { transform: rotateZ(0deg) rotateY(180deg) translate3d(0,60vw,-70vw); z-index: 100; }
	100% { transform: rotateZ(0deg) rotateY(180deg) translate3d(0,20vw,-170vw); z-index: 100; }
}





ul[data-state="shuffle"] li {
	animation: shuffle 0.5s ease-in-out var(--delay) 1 forwards;
}
ul[data-state="revealall"] li {
    animation: revealAllBounce 6s ease-in-out 1 forwards;
}
ul[data-state="fanpick"] li {
    animation: fanPick 3s ease-in-out 1 forwards;
}
ul[data-state="fanpickreveal"] li:not([data-active="true"]) {
    animation: fanPickReveal 3s ease-in-out 1 forwards;
}
ul[data-state="fanpickreveal"] li[data-active="true"] {
    animation: reveal 3s ease-in-out 1 forwards;
}